# Virtual environments
venv/
env/
ENV/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# OS specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp
*.swo 